.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.mt-5{
  margin-top: 30px;
}
.mt-15{
  margin-top: 15px;
}
.mr-5{
  margin-left: 10px;
}
.ml-15{
  margin-right: 5px;
}
.text-right{
  float: right;
  cursor: pointer;
}
.text-right:hover{
  color: red;
}
.sort_selected::after{
  content: '\f00c';
  font-family: FontAwesome;
  margin: 0px 0px 0px 10px;
  padding: 2px 2px 2px;
}